<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.javaee.myapplication" >

    <!-- 声明需要网络 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 写外置 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 读外置 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 管理外置 -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true" >
        <provider
            android:name=".Lab8ContentProvider"
            android:authorities="loveliness"
            android:enabled="true"
            android:exported="true" >
        </provider>

        <activity
            android:name=".lab7.Lab7DataShowActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="xyz.javaee.lab7_data" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".lab7.Lab7SQLiteActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="xyz.javaee.lab7" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".lab6.JSONActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="xyz.javaee.json" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".lab6.FileIOActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="xyz.javaee.lab6" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DataTransmitShopDetail"
            android:exported="true">
            <intent-filter>
                <action android:name="xyz.javaee.detail" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DataTransmitInfo"
            android:exported="true">
            <intent-filter>
                <action android:name="xyz.javaee.info" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DataTransmitShop"
            android:exported="true">
            <intent-filter>
                <action android:name="xyz.javaee.shop2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShopActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="xyz.javaee.shop" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DataShowActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="xyz.javaee.datashow" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:exported="true">
            <intent-filter>
                <action android:name="xyz.javaee.register" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Test"
            android:exported="true">
            <intent-filter>
                <action android:name="xyz.javaee.test" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActicityLife.ActicityLife2"
            android:exported="true">
            <intent-filter>
                <action android:name="xyz.javaee.acticityLife2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActicityLife.ActicityLife1"
            android:exported="true">
            <intent-filter>
                <action android:name="xyz.javaee.acticityLife1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="xyz.javaee.login" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>